<!DOCTYPE html>
{% load static %}
<html lang="en">
<script src="{% static 'js\msg.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css\estilo.css' %}">
    
</head>

<body>
    <div class="wrapper">
        <div class="content">
            {% block login %} 
            {% endblock %}
            
            {% block content %}

            {% endblock %}
        </div>
            <footer>{% block footer %} {% endblock %}</footer>
        </div>
    </div>
    
</body>
</html>