{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Registered Employees</h3>
        <hr>
        <div class="info">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Document</th>
                        <th>Email</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in employee %}
                    <tr>
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.document_number }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.department}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="home_emp">
        <a type="submit3" type="submit" href="{% url 'main_screen' %}">Home</a>
    </div>
{% endblock %}